<% if @task.errors.any? %>
  <div id="error_message">
    <div class="alert alert-danger">
      入力エラーが<%= @task.errors.count %>件あります。
    </div>
    <ul>
      <% @task.errors.full_messages.each do | msg| %>
        <li><%= msg %></li>
      <% end %>
    </ul>
  </div>
<% end %>